API_KEY="" # https://300.ya.ru/ -> API -> Получить токен -> Войти как ...
YANDEX_COOKIE="Session_id=XXXX;" # !!! Required Session_id COOKIE! You can log in to your account and then from any request to yandex catch them. AT YOUR OWN RISK !!!